.main {
    flex: 3;
    min-width: 300px;
    height: 100vh; 
}

.main header {
    width: 100%;
    border-bottom: 1px solid #dedede;
    color: #445260;
    padding: 25px;
}

.main p {
    font-size: 0.8rem;
}

.statistics {
    width: 100%;
    padding: 25px;
}

.stat-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: stretch;
}

.statistics h2 {
    color: #445260;
    margin-bottom: 25px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47.5%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.stat .menu-icon {
    font-size: 4rem;
}

.classes .menu-icon {
    color: #9ac5cf;
}

.teachers .menu-icon {
    color: #faa99e;
}

.students .menu-icon {
    color: #fdc393;
}

.courses .menu-icon{
    color: #a5daa0;
}

.stat h4 {
    font-size: 3.1rem;
}

.classes {
    background: #6fadbb;
}

.teachers {
    background: #f88575;
}

.students {
    background: #ffaf64;
}

.courses {
    background: #7cbb76;
}

.classes:hover {
    background: #579cac;
}

.teachers:hover {
    background: #ff7462;
}

.students:hover {
    background: #f7a254;
}

.courses:hover {
    background: #68aa62;
}

.stat-info {
    flex: 1;
}

@media only screen and (max-width: 1080px) and (min-width: 720px) {
    html {
        font-size: 16px !important;
    }
} 

@media only screen and (max-width: 990px) {
    html {
        font-size: 15px !important;
    }

    .stat-container {
        display: block;
    }

    .stat {
        margin-bottom: 25px;
        width: 100%;
    }
}