.message-container {
    width: 100%;
    text-align: center;
}

.message-icon {
    width: 100%;
    display: block;
    font-size: 4rem;
}

.message-icon-success {
    color: #18c242;
}

.message-icon-fail {
    color: #c21818;
}

.message-container p {
    margin-top: 50px;
}