.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
    width: 350px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4c5b6b;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.icon {
  font-size: 16px;
  line-height: 50px;
  background: #4c5b6b;
  color: #fff;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #4c5b6b;
}

.btn {
  background-color: #4c5b6b;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #384350;
}