.sidebar {
    width: 400px;
    background: #4c5b6b;
    height: auto !important;
    max-height: 100%;
}

.logo {
    width: 100%;
    text-align: center;
    font-size: 4.1rem;
    color: #becddf;
    padding: 25px 0px 50px 0px;
    border-bottom: 2px solid #445260;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    color: #fff;
}

.logo h3 {
    font-size: 0.8rem;
}

.menu {
    width: 100%;
}

.menu .item {
    display: block;
    padding: 25px 15px;
    color: #becddf;
    border-bottom: 2px solid #445260;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-icon {
    min-width: 50px;
    color: #becddf;
}

.menu .item:hover {
    background: #445260;
    -moz-box-shadow:    inset 0 0 5px #2d373f;
    -webkit-box-shadow: inset 0 0 5px #2d373f;
    box-shadow:         inset 0 0 5px #2d373f;
    color: #fff;
}

.menu .item:hover .menu-icon{
    color: #fff;
}


.sidebar-fixed {
    position: fixed;
    width: inherit;
    background: #4c5b6b;
    height: 100vh;
}

.link {
    text-decoration: none;
}

.user {
    position: fixed;
    text-decoration: none;
    background: #4c5b6b;
    color: #becddf;
    font-size: 0.6rem;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid #445260;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
    right: -15px;
    top: -2px;
    display: flex;
}

.user .menu-icon {
    line-height: 1rem;
    font-size: 0.9rem;
    transition: 0.2s ease;
}

.user:hover {
    color: #fff;
    -moz-box-shadow:    inset 0 0 5px #2d373f;
    -webkit-box-shadow: inset 0 0 5px #2d373f;
    box-shadow:         inset 0 0 5px #2d373f;
}

.user:hover .menu-icon {
    color: #fff;
}