.form-container {
    width: 100%;
}

.forms-form {
    flex: 3;
    min-width: 30;
    height: 100vh; 
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms-header {
    width: 100%;
    border-bottom: 1px solid #dedede;
    color: #445260;
}

.forms-input-container {
    color: #445260;
}

.forms-input-container label {
    border-bottom: 1px solid #dedede;
    display: block;
    width: 100%;
    margin: 12.5px 0px;
}

.forms-input-field {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    border: none;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.forms-input-field:focus {
    border: 2px solid #4c5b6b;
}

.forms-btn {
    background-color: #4c5b6b;
    color: #becddf;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
    transition: 0.3s ease;
    height: 50px;
    border-radius: 5px;
  }

.forms-btn:hover {
background-color: #384350;
}

.forms-btn-container {
    display: flex;
    justify-content: space-between;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4c5b6b;
    background-image: none;
}

.select {
position: relative;
display: block;
width: 20rem;
height: 3rem;
line-height: 3;
background: #4c5b6b;
overflow: hidden;
border-radius: .25em;
}

select {
width: 100%;
height: 100%;
margin: 0;
padding: 0 0 0 .5em;
color: #becddf;
cursor: pointer;
font-size: 1rem;
}

select::-ms-expand {
display: none;
}
/* Arrow */
.select::after {
content: '\25BC';
position: absolute;
top: 0;
right: 0;
bottom: 0;
padding: 0 1em;
background: #4c5b6b;
pointer-events: none;
color: #353f49;
}

.select:hover::after {
color: #f39c12;
}

.select::after {
-webkit-transition: .25s all ease;
-o-transition: .25s all ease;
transition: .25s all ease;
}


