.app {
    display: flex;
    width: 100%;
}

.msg {
    transition: 0.3s ease !important;
}

.msg-success:focus {
    box-shadow: none !important;
}

.msg-error:focus {
    box-shadow: none !important;
}

.msg-success:hover {
    background: #36414d !important;
}

.msg-error:hover {
    background: #ff504a !important;
}

